<table class="buttonGrid">
    <tr>
        <td>
            <div class="circleButton" ng-click="panel.callDeviceService(component, 'start'); $event.stopPropagation()"><i class="icon sl-play-1"></i>
            </div>
        </td>
        <td>
            <div class="circleButton" ng-click="panel.callDeviceService(component, 'dock'); $event.stopPropagation()"><i class="icon sl-house-2"></i>
            </div>
        </td>
        <td>
            <div class="circleButton" ng-click="panel.callDeviceService(component, 'stop'); $event.stopPropagation()"><i class="icon sl-stop-1"></i>
            </div>
        </td>
    </tr>
</table>

