<table class="buttonGrid">
    <tr>
        <td>
            <div class="circleButton" ng-click="panel.callDeviceService(component, 'start')"><i class="fa fa-play"></i>
            </div>
        </td>
        <td>
            <div class="circleButton" ng-click="panel.callDeviceService(component, 'dock')"><i class="fa fa-home"></i>
            </div>
        </td>
        <td>
            <div class="circleButton" ng-click="panel.callDeviceService(component, 'stop')"><i class="fa fa-stop"></i>
            </div>
        </td>
    </tr>
</table>

