<table class="formTable">
    <tr>
        <td><label>ITach Bridge</label></td>
        <td>{{component.configuration.uuid}}</td>
    </tr>
    <tr>
        <td><label>IP Address</label></td>
        <td>{{component.configuration.hostname}}</td>
    </tr>
</table>
<div class="form-group">
    <label>Last Code</label>
    <input ng-model="component.__state.lastCode"
           class="form-control">
</div>
<button class="btn btn-primary"
        ng-click="panel.callDeviceService(component, 'clear'); $event.stopPropagation()">Clear
</button>

