<table class="formTable">
    <tr valign="top">
        <td>
            <table style="margin-left: 20px;">
                <tr>
                    <td style="text-align: center">
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'STANDBY')"><i
                                class="fa fa-power-off"></i></div>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: center">
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'POWER')">|</div>
                    </td>
                </tr>
            </table>
        </td>
        <td>
            <table class="buttonGrid" style="margin-left: 20px;">
                <tr>
                    <td>
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'CD')">CD</div>
                    </td>
                    <td>
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'MDCDR')">MD/CD-R</div>
                    </td>
                    <td>
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'TUNER')">TUNER</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'DVD')">DVD</div>
                    </td>
                    <td>
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'DTVCBL')">DTV/CBL</div>
                    </td>
                    <td>
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'DVR')">DVR</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'VAUXDOCK')">V-AUX/DOCK</div>
                    </td>
                    <td>
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'D')">D</div>
                    </td>
                    <td>
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'E')">E</div>
                    </td>
                </tr>
                <tr>
                    <td>
                    </td>
                    <td>
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'channel0')">0</div>
                    </td>
                    <td>
                    </td>
                </tr>
            </table>
        </td>
        <td>
            <table style="margin-left: 20px;">
                <tr>
                    <td style="text-align: center">
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'VOLUMEUP')">+</div>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: center">VOL</td>
                </tr>
                <tr>
                    <td style="text-align: center">
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'VOLUMEDOWN')">-</div>

                    </td>
                </tr>
                <tr>
                    <td style="text-align: center">
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'MUTE')"><i
                                class="fa fa-volume-off"></i></div>
                    </td>
                </tr>
            </table>
        </td>
        <!--
        <td>
            <table style="margin-left: 10px;">
                <tr>
                    <td style="text-align: center">

                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'volumeUp')"><i
                                class="fa fa-chevron-up"></i></div>

                    </td>
                </tr>
                <tr>
                    <td style="text-align: center">CH</td>
                </tr>
                <tr>
                    <td style="text-align: center">
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'volumeDown')"><i
                                class="fa fa-chevron-down"></i></div>

                    </td>
                </tr>
            </table>
        </td>
        -->
    </tr>
</table>

