<table class="formTable">
    <tr valign="top">
        <td>
            <table class="buttonGrid" style="margin-left: 20px;">
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'STANDBY')"><i
                                class="fa fa-power-off"></i></div>
                    </td>
                    <td>
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'POWER')">|</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'A')">A</div>
                    </td>
                    <td>
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'B')">B</div>
                    </td>
                    <td>
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'C')">C</div>
                    </td>
                    <td>
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'MUTE')">MUTE</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'CD')">CD</div>
                    </td>
                    <td>
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'MDCDR')">MD/CD-R</div>
                    </td>
                    <td>
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'TUNER')">TUNER</div>
                    </td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'DVD')">DVD</div>
                    </td>
                    <td>
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'DTVCBL')">DTV/CBL</div>
                    </td>
                    <td>
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'DVR')">DVR</div>
                    </td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'VAUXDOCK')">V-AUX/DOCK</div>
                    </td>
                    <td>
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'D')">D</div>
                    </td>
                    <td>
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'E')">E</div>
                    </td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr><td colspan="4" style="text-align: center;">SCENE</td></tr>
                <tr>
                    <td>
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'SCENE1')">1</div>
                    </td>
                    <td>
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'SCENE2')">2</div>
                    </td>
                    <td>
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'SCENE3')">3</div>
                    </td>
                    <td>
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'SCENE4')">4</div>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'TITLE')">TITLE</div>
                    </td>
                    <td>
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'PRESETCHUP')"><i
                                class="fa fa-chevron-up"></i></div>
                    </td>
                    <td>
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'MENU')">MENU</div>
                    </td>
                    <td>
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'VOLUMEUP')"><i
                                class="fa fa-volume-up"></i></div>
                    </td>
                <tr>
                    <td>
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'ABCDELEFT')"><i
                                class="fa fa-chevron-left"></i></div>
                    </td>
                    <td>
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'ENTER')">ENTER</div>
                    </td>
                    <td>
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'ABCDERIGHT')"><i
                                class="fa fa-chevron-right"></i></div>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'RETURN')">RETURN</div>
                    </td>
                    <td>
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'PRESETCHUP')"><i
                                class="fa fa-chevron-down"></i></div>
                    </td>
                    <td>
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'DISPLAY')">DISPLAY</div>
                    </td>
                    <td>
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'VOLUMEDOWN')"><i
                                class="fa fa-volume-down"></i></div>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'PROGLEFT')"><i
                                class="fa fa-angle-left"></i></div>
                    </td>
                    <td>
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'PROGRIGHT')"><i
                                class="fa fa-angle-right"></i></div>
                    </td>
                    <td>
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'ENHANCER')">ENHANCER</div>
                    </td>
                    <td>
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'SURDECODE')">SUR. DECODE</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'STRAIGHT')">STRAIGHT</div>
                    </td>
                    <td>&nbsp;</td>
                    <td>
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'NIGHT')">NIGHT</div>
                    </td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'MULTICHIN')">MULTI CH IN</div>
                    </td>
                    <td>
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'AUDIOSEL')">AUDIO SEL</div>
                    </td>
                    <td>&nbsp;</td>
                    <td>
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'SLEEP')">SLEEP</div>
                    </td>
                </tr>
            </table>
        </td>
        <!--
        <td>
            <table style="margin-left: 20px;">
                <tr>
                    <td style="text-align: center">
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'VOLUMEUP')">+</div>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: center">VOL</td>
                </tr>
                <tr>
                    <td style="text-align: center">
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'VOLUMEDOWN')">-</div>

                    </td>
                </tr>
                <tr>
                    <td style="text-align: center">
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'MUTE')"><i
                                class="fa fa-volume-off"></i></div>
                    </td>
                </tr>
            </table>
        </td>
        <td>
            <table style="margin-left: 10px;">
                <tr>
                    <td style="text-align: center">

                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'PROGLEFT')"><i
                                class="fa fa-chevron-up"></i></div>

                    </td>
                </tr>
                <tr>
                    <td style="text-align: center">PROG</td>
                </tr>
                <tr>
                    <td style="text-align: center">
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'PROGRIGHT')"><i
                                class="fa fa-chevron-down"></i></div>

                    </td>
                </tr>
            </table>
        </td>
        -->
    </tr>
</table>

