<table class="formTable">
    <tr valign="top">
        <td>
            <table class="buttonGrid" style="margin-left: 20px;">
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'STANDBY')"><i
                                class="fa fa-power-off"></i></div>
                    </td>
                    <td>
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'POWER')"
                             style="font-size: 12px;font-weight: bold">|</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'A')"
                             style="font-size: 8px">A</div>
                    </td>
                    <td>
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'B')"
                             style="font-size: 8px">B</div>
                    </td>
                    <td>
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'C')"
                             style="font-size: 8px">C</div>
                    </td>
                    <td>
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'MUTE')"
                                style="font-size: 8px">MUTE</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'CD')"
                             style="font-size: 8px">CD</div>
                    </td>
                    <td>
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'MDCDR')"
                             style="font-size: 8px">MD/CDR</div>
                    </td>
                    <td>
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'TUNER')"
                             style="font-size: 8px">TUNER</div>
                    </td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'DVD')"
                             style="font-size: 8px">DVD</div>
                    </td>
                    <td>
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'DTVCBL')"
                             style="font-size: 8px">DTV/CBL</div>
                    </td>
                    <td>
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'DVR')"
                             style="font-size: 8px">DVR</div>
                    </td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'VAUXDOCK')"
                             style="font-size: 8px">V-AUX</div>
                    </td>
                    <td>
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'D')"
                             style="font-size: 8px">D</div>
                    </td>
                    <td>
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'E')"
                             style="font-size: 8px">E</div>
                    </td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr><td colspan="4" style="text-align: center;">SCENE</td></tr>
                <tr>
                    <td>
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'SCENE1')"
                             style="font-size: 8px">1</div>
                    </td>
                    <td>
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'SCENE2')"
                             style="font-size: 8px">2</div>
                    </td>
                    <td>
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'SCENE3')"
                             style="font-size: 8px">3</div>
                    </td>
                    <td>
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'SCENE4')"
                             style="font-size: 8px">4</div>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'TITLE')"
                             style="font-size: 8px">TITLE</div>
                    </td>
                    <td>
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'PRESETCHUP')"><i
                                class="fa fa-chevron-up"></i></div>
                    </td>
                    <td>
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'MENU')"
                             style="font-size: 8px">MENU</div>
                    </td>
                    <td>
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'VOLUMEUP')"><i
                                class="fa fa-volume-up"></i></div>
                    </td>
                <tr>
                    <td>
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'ABCDELEFT')"><i
                                class="fa fa-chevron-left"></i></div>
                    </td>
                    <td>
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'ENTER')"
                             style="font-size: 8px">ENTER</div>
                    </td>
                    <td>
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'ABCDERIGHT')"><i
                                class="fa fa-chevron-right"></i></div>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'RETURN')"
                             style="font-size: 8px">RETURN</div>
                    </td>
                    <td>
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'PRESETCHUP')"><i
                                class="fa fa-chevron-down"></i></div>
                    </td>
                    <td>
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'DISPLAY')"
                             style="font-size: 8px">DISPLAY</div>
                    </td>
                    <td>
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'VOLUMEDOWN')"><i
                                class="fa fa-volume-down"></i></div>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'PROGLEFT')"><i
                                class="fa fa-angle-left"></i></div>
                    </td>
                    <td>
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'PROGRIGHT')"><i
                                class="fa fa-angle-right"></i></div>
                    </td>
                    <td>
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'ENHANCER')"
                             style="font-size: 8px">ENHAN.</div>
                    </td>
                    <td>
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'SURDECODE')"
                             style="font-size: 8px">SUR.</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'STRAIGHT')"
                             style="font-size: 8px">STRGHT</div>
                    </td>
                    <td>&nbsp;</td>
                    <td>
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'NIGHT')"
                             style="font-size: 8px">NIGHT</div>
                    </td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'MULTICHIN')"
                             style="font-size: 8px">MULTI CH IN</div>
                    </td>
                    <td>
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'AUDIOSEL')"
                             style="font-size: 8px">AUDIO SEL</div>
                    </td>
                    <td>&nbsp;</td>
                    <td>
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'SLEEP')"
                             style="font-size: 8px">SLEEP</div>
                    </td>
                </tr>
            </table>
        </td>
        <!--
        <td>
            <table style="margin-left: 20px;">
                <tr>
                    <td style="text-align: center">
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'VOLUMEUP')">+</div>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: center">VOL</td>
                </tr>
                <tr>
                    <td style="text-align: center">
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'VOLUMEDOWN')">-</div>

                    </td>
                </tr>
                <tr>
                    <td style="text-align: center">
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'MUTE')"><i
                                class="fa fa-volume-off"></i></div>
                    </td>
                </tr>
            </table>
        </td>
        <td>
            <table style="margin-left: 10px;">
                <tr>
                    <td style="text-align: center">

                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'PROGLEFT')"><i
                                class="fa fa-chevron-up"></i></div>

                    </td>
                </tr>
                <tr>
                    <td style="text-align: center">PROG</td>
                </tr>
                <tr>
                    <td style="text-align: center">
                        <div class="circleButton" ng-click="panel.callDeviceService(component, 'PROGRIGHT')"><i
                                class="fa fa-chevron-down"></i></div>

                    </td>
                </tr>
            </table>
        </td>
        -->
    </tr>
</table>

